@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

:root {
  --primary-color: #f99f38;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer h1 {
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.inputContainer h1 span {
  color: var(--primary-color);
}

.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input::placeholder {
  font-size: 0.9rem;
}
.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}
/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.reset button {
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}
.reset button:hover,
button:active {
  background: #fff;
  color: var(--primary-color);
}

.result p {
  color: #fff;
  border: 1px solid var(--primary-color);

  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.result button {
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}

.result button.copied {
  background: #fff;
  color: var(--primary-color);
}

.noData {
  color: #fff;
  font-size: 1rem;
}
/*Background Animate Css*/

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #28214a;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 12s linear infinite;
}

.background li:nth-child(0) {
  left: 78%;
  width: 190px;
  height: 190px;
  bottom: -190px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 35%;
  width: 94px;
  height: 94px;
  bottom: -94px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 53%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 9s;
}
.background li:nth-child(3) {
  left: 52%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 5s;
}
.background li:nth-child(4) {
  left: 48%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 12s;
}
.background li:nth-child(5) {
  left: 3%;
  width: 185px;
  height: 185px;
  bottom: -185px;
  animation-delay: 1s;
}
.background li:nth-child(6) {
  left: 84%;
  width: 137px;
  height: 137px;
  bottom: -137px;
  animation-delay: 18s;
}
.background li:nth-child(7) {
  left: 78%;
  width: 27px;
  height: 27px;
  bottom: -27px;
  animation-delay: 5s;
}
.background li:nth-child(8) {
  left: 31%;
  width: 139px;
  height: 139px;
  bottom: -139px;
  animation-delay: 37s;
}
.background li:nth-child(9) {
  left: 61%;
  width: 65px;
  height: 65px;
  bottom: -65px;
  animation-delay: 24s;
}
.background li:nth-child(10) {
  left: 49%;
  width: 197px;
  height: 197px;
  bottom: -197px;
  animation-delay: 49s;
}
.background li:nth-child(11) {
  left: 16%;
  width: 50px;
  height: 50px;
  bottom: -50px;
  animation-delay: 31s;
}
.background li:nth-child(12) {
  left: 50%;
  width: 78px;
  height: 78px;
  bottom: -78px;
  animation-delay: 3s;
}
.background li:nth-child(13) {
  left: 30%;
  width: 94px;
  height: 94px;
  bottom: -94px;
  animation-delay: 22s;
}
.background li:nth-child(14) {
  left: 47%;
  width: 91px;
  height: 91px;
  bottom: -91px;
  animation-delay: 35s;
}
.background li:nth-child(15) {
  left: 42%;
  width: 69px;
  height: 69px;
  bottom: -69px;
  animation-delay: 15s;
}
.background li:nth-child(16) {
  left: 29%;
  width: 98px;
  height: 98px;
  bottom: -98px;
  animation-delay: 63s;
}
.background li:nth-child(17) {
  left: 42%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  animation-delay: 33s;
}
.background li:nth-child(18) {
  left: 23%;
  width: 88px;
  height: 88px;
  bottom: -88px;
  animation-delay: 60s;
}
.background li:nth-child(19) {
  left: 34%;
  width: 69px;
  height: 69px;
  bottom: -69px;
  animation-delay: 27s;
}
.background li:nth-child(20) {
  left: 56%;
  width: 66px;
  height: 66px;
  bottom: -66px;
  animation-delay: 25s;
}
.background li:nth-child(21) {
  left: 31%;
  width: 175px;
  height: 175px;
  bottom: -175px;
  animation-delay: 104s;
}
.background li:nth-child(22) {
  left: 80%;
  width: 166px;
  height: 166px;
  bottom: -166px;
  animation-delay: 88s;
}
.background li:nth-child(23) {
  left: 48%;
  width: 34px;
  height: 34px;
  bottom: -34px;
  animation-delay: 46s;
}
.background li:nth-child(24) {
  left: 56%;
  width: 74px;
  height: 74px;
  bottom: -74px;
  animation-delay: 106s;
}
